:root {
   --brown: #e5e7eb;
   --blue: #3882f6;
   --dark: #1f2937;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.header {
   background-color: var(--dark);
   padding: 2% 10%;
}

.header > .nav {
   display: flex;
   justify-content: space-between;
}

.nav .items2 {
   display: flex;
   gap: 20px;
}

.nav .items1 a {
   color: white;
   text-decoration: none;
}

.nav .items2 a {
   color: white;
   text-decoration: none;
}

/* .container {
   padding: 3% 10%;
} */

.main-items1 {
   background-color: var(--dark);
   padding: 3% 10%;
   display: flex;
   gap: 1px;
   justify-content: space-between;
   align-items: center;
}

.main-items1 .items1 {
   color: white;
   display: flex;
   gap: 10px;
   flex-direction: column;
}

.button {
   background-color: var(--blue);
   padding: 1% 5%;
   color: white;
   font-weight: bold;
   border-radius: 7px;
   border: none;
}

.main-items1 .items2 {
   text-align: end;
   width: 100%;
   height: 100%;
}

.main-items1 .items2 img {
   height: 60%;
   width: 60%;
}

.main-items2 {
   gap: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 3% 10%;
}

.items-container {
   display: flex;
   gap: 10px;
   justify-content: center;
   align-items: center;
   flex-wrap: nowrap;
}

.items-container .items1 {
   display: flex;
   text-align: center;
   flex-direction: column;
}
.items-container .items2 {
   display: flex;
   flex-direction: column;
}
.items-container .items3 {
   display: flex;
   flex-direction: column;
}
.items-container .items4 {
   display: flex;
   flex-direction: column;
}

.items-container .items1 img {
   width: 100%;
   height: auto;
   border: 2px solid black;
}

.items-container .items2 img {
   width: 100%;
   height: auto;
   border: 2px solid black;
}

.items-container .items3 img {
   width: 100%;
   border: 2px solid black;
}

.items-container .items4 img {
   width: 100%;
   border: 2px solid black;
}

.main-items3 {
   margin: 5% 0;
   height: 300px;
   background-color: var(--brown);
   display: flex;

   align-items: center;
   justify-content: center;
}

.main-items3 .items-1 {
   padding: 0 13%;
   display: flex;
   flex-direction: column;
}

.main-items3 .items-1 p {
   font-size: 30px;
   font-weight: lighter;
   color: #1f2937;
}

.main-items3 .items-1 strong {
   text-align: right;
}

.main-items4 {
   margin: 3% 0;
   padding: 0% 10%;
}

.main-items4 .items-container2 {
   padding: 2% 7%;
   background-color: var(--blue);
   display: flex;
   border-radius: 10px;
   align-items: center;
   justify-content: space-between;
}

.items-container2 .items1 .p1 {
   color: white;
   font-size: 19px;
   font-weight: bold;
}

.items-container2 .items2 button {
   padding: 5px 20px;
   font-weight: bold;
   color: white;
   border: 2px solid white;
   border-radius: 5px;
   background-color: transparent;
}

.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   padding: 2% 9%;
   background-color: var(--dark);
}
